{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static './assets/images/favicon.ico' %}">
    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="{% static './css/bootstrap/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static './css/styles.css' %}">
</head>
<body>
    <header>
        HEADER
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        FOOTER
    </footer>

    <script src="{% static './js/jquery.js' %}"></script>
    <script src="{% static './js/main.js' %}" type="module"></script>
</body>
</html>